@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 
* {
    box-sizing: border-box;
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
}
 
.dynapuff-font {
    font-family: "DynaPuff", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
 
b,
strong {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
}
 
i {
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: italic;
}
 
html,
body {
    margin: unset;
    padding: unset;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    overflow: auto;
}
 
body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #ebedee;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
 
#main-container {
    width: 100%;
    max-height: 100%;
    max-width: 700px;
    padding: 15px 15px;
}
 
#app-title {
    font-weight: 700;
    text-align: center;
}
 
.flashcards {
    width: 100%;
    display: inline-grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, calc((100% - 2rem) / 3));
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
 
@media (max-width: 700px) {
    div.flashcards {
        grid-template-columns: repeat(auto-fit, calc((100% - 1rem) / 2));
    }
}
 
@media (max-width: 400px) {
    div.flashcards {
        grid-template-columns: 1fr;
    }
}
 
.flashcards:empty:before {
    display: block;
    position: relative;
    content: "No  Flashcard Listed Yet";
    width: 100%;
    text-align: center;
    font-style: italic;
    color: #c8c5c5;
}
 
.flashcards .card {
    background-color: transparent;
    width: 100%;
    height: 300px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;
    cursor: pointer;
}
 
.flashcards .card.active .card-container {
    transform: rotateY(180deg);
}
 
.flashcards .card .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
 
.flashcards .card .card-front,
.flashcards .card .card-back {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 3px 3px 4px #00000087;
    padding: 15px 5px;
}
.flashcards .card .card-front-title,
.flashcards .card .card-back-title{
    letter-spacing: 1px;
}
 
.flashcards .card .card-front-text,
.flashcards .card .card-back-text{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 12px;
    letter-spacing: 1px;
}
 
.flashcards .card .card-front {
    background-color: #2E5077;
    color: #fff;
}
 
.flashcards .card .card-back {
    background-color: #A5BFCC;
    color: white;
    transform: rotateY(180deg);
}
 
button.card-action {
    background: #F95454;
    color: #fff;
    border: unset;
    outline: unset;
    cursor: unset;
    border-radius: 3px;
}
 
button.card-action:hover, button.card-action:active{
    background: #b22d2d;
}
 
div#form-modal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
}
 
div#form-modal.shown {
    display: block;
    opacity: 1;
}
 
div#form-modal .form-modal-backdrop {
    display: flex;
    width: 100%;
    height: 100%;
    background: #000000c2;
    backdrop-filter: blur(2px);
    align-items: center;
    justify-content: center;
}
 
div#form-modal .form-modal-dialog {
    position: relative;
    width: 100%;
    max-width: 350px;
    background: #fff;
    border-radius: 10px;
    padding: 15px 10px;
}
 
div#form-modal .form-modal-dialog .form-modal-title {
    margin: unset;
}
 
button.form-modal-close {
    background: transparent;
    border: unset;
    cursor: pointer;
    position: relative;
    float: right;
}
.form-group {
    position: relative;
    width: 100%;
    padding: 5px 0px;
}
label.form-label {
    display: block;
    width: 100%;
    font-weight: 400;
    color: #434343;
    margin-bottom: 5px;
    font-size: 14px;
}
 
.form-control {
    width: 100%;
    resize: none;
    border-color: #848383;
    border-radius: 2px;
    outline: unset;
}
 
.form-group-action {
    position: relative;
    width: 100%;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
button#btn-new-flashcard {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0556be;
    color: #fff;
    padding: 5px 25px;
    border: unset;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    float: right;
}
 
button.btn-form-action {
    background: #0556be;
    color: #fff;
    padding: 5px 25px;
    border: unset;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
}
 
button.btn-form-action:hover, button.btn-form-action:active{
    background: #247df0;
}